:root
{
  --start_bg-font-size: 28px;
}

html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  /* overflow-x: hidden; */
  background-color: #090909;
}

.viewportSize
{
  max-width: 85%;
}

.topPadding
{
  padding-top: 150px;
}

.start_bg
{
  background-image: url(../img/StartBG.png);
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headingBold
{
  font-family: "Montserrat", serif;
  color: white;
  font-size: 64px;
  font-weight: bold;
}

.start_bg a
{
  font-family: "Montserrat", serif;
  font-size: var(--start_bg-font-size);
  font-weight: 550;
}

.start_bg a:link, a:visited
{
  border-radius: calc(var(--start_bg-font-size)*2);
  background-image: linear-gradient(to left,#00F2FE,#4FACFE);
  text-decoration: none;
  color: white;
  text-align: center;
  display: inline-block;
  padding: calc(var(--start_bg-font-size)*0.3) calc(var(--start_bg-font-size)*1.5);
}

.start_bg a:hover
{
  border-radius: calc(var(--start_bg-font-size)*2);
  background-image: linear-gradient(to left,#00F2FE,#4FACFE);
  text-decoration: none;
  color: white;
  text-align: center;
  display: inline-block;
  padding: calc(var(--start_bg-font-size)*0.3) calc(var(--start_bg-font-size)*1.5);
}

.heading
{
  color: #ffffff;
  padding-top: 80px;
  font-family: Futura BdCn BT, sans-serif;
  font-size: 32px;
}

.description
{
  color: #ffffff;
  font-family: Futura LtCn BT;
  font-size: 34px;
}
